{%extends 'all-news/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{project.project_image.url}}"  class="img-responsive" alt="Image">
   </div>

   <div class="row">
     <h1 class="text-center">{{project.title}}</h1>
   </div>

   <div class="row">
       {% autoescape on %}
         {{project.post|safe}}
        {% endautoescape %}
   </div>

   <div class="row">
     <p>Posted {{project.pub_date|timesince}} by {{project.author.first_name}}</p>
   </div>

 </div>

 {% endblock %}
